---
import LegalPage from '../../templates/LegalPage.astro';
---

<LegalPage title="Politique de Cookies">
  <p>
    Ce site web utilise des cookies pour améliorer l'expérience de l'utilisateur. Les cookies sont de petits fichiers texte qui sont stockés dans votre navigateur lorsque vous visitez notre site web.
  </p>

  <h2>1. Quels types de cookies utilisons-nous ?</h2>
  <ul>
    <li><strong>Cookies techniques :</strong> Nécessaires au fonctionnement de base du site web.</li>
    <li><strong>Cookies d'analyse :</strong> Ils nous permettent de comprendre comment les utilisateurs interagissent avec le site web afin d'améliorer la navigation et le contenu.</li>
  </ul>

  <h2>2. Gestion des cookies</h2>
  <p>
    Vous pouvez autoriser, bloquer ou supprimer les cookies installés sur votre appareil en configurant les options du navigateur installé sur votre ordinateur.
  </p>
  <ul>
    <li>Pour plus d'informations sur Microsoft Edge, <a href="https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09" target="_blank" rel="noopener">cliquez ici</a>.</li>
    <li>Pour plus d'informations sur Google Chrome, <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank" rel="noopener">cliquez ici</a>.</li>
    <li>Pour plus d'informations sur Mozilla Firefox, <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank" rel="noopener">cliquez ici</a>.</li>
    <li>Pour plus d'informations sur Safari, <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank" rel="noopener">cliquez ici</a>.</li>
  </ul>

  <h2>3. Acceptation de la politique de cookies</h2>
  <p>
    En naviguant sur notre site web, vous acceptez l'utilisation de cookies dans les conditions établies dans la présente Politique de Cookies.
  </p>
</LegalPage>
