---
import LegalPage from '../../templates/LegalPage.astro';
---

<LegalPage title="Cookie Policy">
  <p>
    This website uses cookies to enhance the user experience. Cookies are small text files that are stored in your browser when you visit our website.
  </p>

  <h2>1. What types of cookies do we use?</h2>
  <ul>
    <li><strong>Technical cookies:</strong> Necessary for the basic functioning of the website.</li>
    <li><strong>Analytics cookies:</strong> These allow us to understand how users interact with the website in order to improve navigation and content.</li>
  </ul>

  <h2>2. Cookie management</h2>
  <p>
    You can allow, block or delete the cookies installed on your device by configuring the settings of the browser installed on your computer.
  </p>
  <ul>
    <li>For more information about Microsoft Edge, <a href="https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09" target="_blank" rel="noopener">click here</a>.</li>
    <li>For more information about Google Chrome, <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank" rel="noopener">click here</a>.</li>
    <li>For more information about Mozilla Firefox, <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank" rel="noopener">click here</a>.</li>
    <li>For more information about Safari, <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank" rel="noopener">click here</a>.</li>
  </ul>

  <h2>3. Acceptance of cookie policy</h2>
  <p>
    By browsing our website, you accept the use of cookies under the terms set out in this Cookie Policy.
  </p>
</LegalPage>
