---
import LegalPage from '../../templates/LegalPage.astro';
---

<LegalPage title="Cookie-Richtlinie">
  <p>
    Diese Webseite verwendet Cookies, um die Benutzererfahrung zu verbessern. Cookies sind kleine Textdateien, die in Ihrem Browser gespeichert werden, wenn Sie unsere Webseite besuchen.
  </p>

  <h2>1. Welche Arten von Cookies verwenden wir?</h2>
  <ul>
    <li><strong>Technische Cookies:</strong> Diese sind für die grundlegende Funktionalität der Webseite erforderlich.</li>
    <li><strong>Analyse-Cookies:</strong> Diese ermöglichen es uns, zu verstehen, wie die Benutzer mit der Webseite interagieren, um die Navigation und die Inhalte zu verbessern.</li>
  </ul>

  <h2>2. Cookie-Verwaltung</h2>
  <p>
    Sie können die auf Ihrem Gerät installierten Cookies über die Einstellungen Ihres Browsers zulassen, blockieren oder löschen.
  </p>
  <ul>
    <li>Weitere Informationen zu Microsoft Edge finden Sie <a href="https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09" target="_blank" rel="noopener">hier</a>.</li>
    <li>Weitere Informationen zu Google Chrome finden Sie <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank" rel="noopener">hier</a>.</li>
    <li>Weitere Informationen zu Mozilla Firefox finden Sie <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank" rel="noopener">hier</a>.</li>
    <li>Weitere Informationen zu Safari finden Sie <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank" rel="noopener">hier</a>.</li>
  </ul>

  <h2>3. Akzeptanz der Cookie-Richtlinie</h2>
  <p>
    Durch das Navigieren auf unserer Webseite akzeptieren Sie die Verwendung von Cookies gemäß den in dieser Cookie-Richtlinie festgelegten Bedingungen.
  </p>
</LegalPage>
